.heading{
    align-self: center;
}
.know-more{
    padding: 5px 10px;
    border: none;
    border-radius: 20px 20px;
    background: darkgray;
    color: white;
    font-size: large;
    font-weight: bold;
    transition: all .3s;
}
.know-more:hover{
    background: rgb(126, 126, 126);
    transform: scale(1.03,1.03);
}

/* styling top navbar */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(125, 125, 125, 0.589);
    border: none;
    border-radius: 40px 40px;
}
.header{
    /* margin-top: .5%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.589);
    border-radius: 30px 30px;
}
.header .nav-items{
    text-decoration: none;
    margin: 10px 20px;
    margin-right: 30px;
    font-weight: bold;
    color: white;
}

/* .header .download-btn{
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px 5px;

    font-weight: bold;
    color: black;

    animation: all .5s;
}
.header .download-btn:hover{
    border: 1px solid transparent;
    border-radius: 5px 5px;
    background: black;
    color: white;
} */

/* styling greeting section */
.greet{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.greet .greet-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greet .greet-msg .salutation{
    font-size: x-large;
    font-weight: bolder;
    color: red;
}

/* styling about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.about .about-msg{
    width: 85%;
    height: auto;
    padding: 20px;
    background: white;
    box-shadow: rgba(128, 128, 128, 0.664) -10px 10px 30px;
    border-radius: 20px 20px;

    
    font-size: larger;
    color: darkslategrey;
    font-weight: bold;
}

/* styling skill section */
.main-skill-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skills .language{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    list-style: none;
    background: white;
    padding: 20px 20px;
    border: 2px solid rgba(128, 128, 128, 0.66);
    border-radius: 20px 20px;
    box-shadow: grey 10px 10px 40px;
    transition: all .5s;
}
.skills .language:hover{
 transform:scale(1.05,1.05) rotateX(20deg) rotateY(10deg) ;
}

.skills .tools{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    list-style: none;
    padding: 20px 20px;
    padding: 20px 20px;
    border: 2px solid rgba(128, 128, 128, 0.66);
    border-radius: 20px 20px;
    box-shadow: grey 10px 10px 40px;
    transition: all .5s;
}
.skills .tools:hover{
    transform:scale(1.05,1.05) rotateX(20deg) rotateY(10deg) ;
}

.skills .learning{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    list-style: none;
    padding: 20px 20px;
    border: 2px solid rgba(128, 128, 128, 0.66);
    border-radius: 20px 20px;box-shadow: grey 10px 10px 40px;
    transition: all .5s;
}
.skills .learning:hover{
    transform:scale(1.05,1.05) rotateX(20deg) rotateY(10deg) ;
}

/* styling projects */
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.project .project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project .project-container .project-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: px solid grey;
    box-shadow:grey -10px -10 px 30px ;
}


/* styling trainings */
.train{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.train .train-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.train .train-container .train-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* contact section */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}